* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 50%;
    border: 3px solid white;
    border-radius: 100px;

}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 0;
    position: fixed;

}

.nav-list {
    width: 50%;
    display: flex;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
}

.nav-list a {
    width: 50%;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: grey;
}

.rightNav {
    width: 50%;
    text-align: right;
    padding: 0 25px;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.btn {
    padding: 7px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.background {
    background: rgba(0, 0, 0, 0.7) url('../img/img10.webp');
    background-size: cover;
    background-blend-mode: darken;

}

.firstsection {
    height: 50vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 90%;

}

.firsthalf {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondhalf {
    width: 40%;

}

.secondhalf img {
    width: 70%;
    padding: 4px;
    border-radius: 100%;
    display: block;
}

.text-big {
    font-size: 20px;
}

.btn {
    padding: 7px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn:hover {
    color: gray;
}



.service {
    background: wheat;
    background-size: cover;
    min-height: 400px;
    padding: 5px 20px 15px 20px;
}

.serv {
    text-align: center;
}

.pic {
    display: flex;
    display: block;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 50px;
}
.para{
    padding: 4px;
    border: 5px;
    margin: 80px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-footer {
    background: none;
    border: 1px solid lightgrey;
    background-blend-mode: darken;
    text-align: center;
    justify-content: center;
    color: black;
    background: lightgray;
    background-size: cover;
}