*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 50%;
    border: 3px solid white;
    border-radius: 100px;
    
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 0;
    position: fixed;
    
}
.nav-list{
    width: 50%;
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;
}
.nav-list a{
    width: 50%;
}
.nav-list li a{
    text-decoration: none;
    color: white;
}
.nav-list li a:hover{
    color: grey;
}
.rightNav{
    width: 50%;
    text-align: right;
    padding: 0 25px;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
.btn {
    padding: 7px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}
.background{
    background: rgba(0, 0, 0, 0.7) url('../img/img10.webp');
    background-size:cover;
    background-blend-mode: darken;
    
}
.firstsection{
    height: 50vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 90%;

}
.firsthalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondhalf{
    width: 40%;
    
}
.secondhalf img{
    width: 70%;
    padding: 4px;
    border-radius: 100%;
    display: block;
}
.text-big{
    font-size: 20px ;
}
.btn{
    padding: 7px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}
.btn:hover{
    color: gray;
}
.sectionform{
    background-color: none;
    padding: 5px 20px 15px 20px;
    border: none;
    height: 550%;
    background: url('../img/img13.jpeg');
    background-size: cover;
    background-blend-mode: lighten;
}
.signup{
    width: 400px;
    box-shadow: rgba(0, 0, 3px, 0) rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(9px);
    border: 1px solid lightgrey;
    background-blend-mode: darken;
    padding: 30px;
    margin: 8% auto 0;
    text-align: center;
    align-items: flex-start;
    
}
.signup h1{
    color: #347ab1;
    margin-bottom: 30px;
}
input[type="email"],
input[type="password"]{
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 3px;
    border-radius: 150px;
}
.or{
    margin-top: 30px;
    color: white;
}
.signbtn{
    color: white;
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    background-color: #347ab1;
}
.signbtn:hover{
    color: grey;
    cursor: pointer;
}
.google-btn{
    color: white;
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    background-color: #529fda
}
.log{
    color: white;
}
.text-footer{
    background: none;
    border: 1px solid lightgrey;
    background-blend-mode: darken;
    text-align: center;
    justify-content: center;
    color: black;
    background: lightgray;
    background-size: cover;
}